.form {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  padding: 1rem;
  width: 35vw;
}

.label {
  margin: 0.3rem;
}

.input {
  margin: 0.3rem;
  padding: 0.3rem;
}

.submit-button {
  margin: 0.3rem;
  padding: 0.5rem;
}
